@model Project.Models.AdminPinModel


@{
    ViewData["Title"] = "Index";
}

<h1>Administrator Rights Required</h1>

<h4>Enter Admin Pin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VerifyAdminPin">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pin" class="control-label"></label>
                <input asp-for="Pin" class="form-control" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ReturnBack">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
